<div class="container">
    <div class="d-flex justify-content-center align-items-center " style="height: 100vh;">
        <div>
            <div class="row shadow-lg">
                <div class="col-6 p-0 ms-3" style="width:450px;">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/london.png" class="d-block " alt="..." height="700px">
                          </div>
                          <div class="carousel-item" data-bs-interval="2000">
                            <img src="/newyork.png" class="d-block " alt="..."  height="700px" >
                          </div>
                          <div class="carousel-item">
                            <img src="washington.png" class="d-block " alt="..."  height="700px" >
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="col-4 p-0 ps-4">
                    <form style="width: 430px;">
                        <div class="d-flex justify-content-center align-items-center p-2"  >
                            <img src="/logo.png" class="" alt="" height="70px"> 
                        </div>
                        <div class="text-center" id="logo-container">
                            <h1>Welcome to </h1>
                            <div class="d-flex justify-content-center">
                                <p>Way</p><p> Makers</p><p>Academy</p>
                            </div>
                            <h5 style="font-weight: 350; font-size: 15px;">Your journey to knowledge starts here! Please sign in to access your courses and resources.</h5>
                          </div>
                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                <input type="text" class="form-control p-2" style="width: 210px;"  placeholder="FirstName" >
                            </div>
                            <div >
                                <input type="text" class="form-control p-2" style="width: 210px;" placeholder="LastName" >
                            </div>
                        </div>
                        
                        <div class=" mb-3">
                            <input type="email" class="form-control p-2" placeholder="Email" >
                        </div> 
                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                <input type="password" class="form-control p-2" style="width: 210px;"  placeholder="Password" >
                            </div>
                            <div >
                                <input type="password" class="form-control p-2" style="width: 210px;" placeholder="Repeat Password" >
                            </div>
                        </div>
                      
                        <div class=" mb-3">
                            <input type="date" class="form-control p-2" placeholder="DateOfBirth" >
                        </div>
                        <div class=" mb-3">
                            <select name="" id="" class="form-control p-2">
                                <option value="0">Select your gender</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                        <div class=" mb-3">
                            <input type="text" class="form-control p-2" placeholder="ContactNumber" >
                        </div>
                       <div class="button">
                           <button class="btn btn-lg btn-danger mb-2 p-1" style="border-radius: 0%; width: 100%;">Your Future Begins Here</button>
                          <div class="d-flex justify-content-center"><p>Don't have an Account yet ?</p> <a href="">Sign up</a></div>
                       </div>
                    </form>
                </div>
            </div>
        </div>
       
    </div>
</div>