
*{
    padding: 0%;
    box-sizing: border-box;
}
.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-floating label {
    color: #6c757d;
}

.form-floating .form-control:focus~label {
    color: #007bff;
}

#logo-container p {
    font-size: 25px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

#logo-container p::first-letter {
    color: orange;
    font-size: 30px;
}

.sign-width{
    max-width: 450px;
}
.gap{
    padding-right: 10px;
}

@media (max-width: 1000px) {
    .sign-width {
        padding-left:20px;
        max-width: 100%;
        width: 100%;
    }
    .gap{
        padding-right: 0%;
    }
}